<!DOCTYPE html>
<style>
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}
.button {

  padding-left: 90px;
}

button {
  margin-left: .5em;
}
:disabled{
  border:1.5px solid grey
}
</style>
<html>
<h2>
{% block title %}{% endblock %}{{ title }}</h2>
<form method="post">
    {% for key,status in statuses.items() %}
    <div class="button">
        <button name="status" type="Submit" value = {{ status.name }} {% if current_status == status %}{{ "disabled" }}{% endif %}>{% block label %}{% endblock %}{{ status.label }}</button>
    </div>
    {% endfor %}
</form>
</html>